<div class="col"></div>
<div class="card bg-light text-dark">
    <div class="card-body">
        <h5 class="card-title" ></h5><%= workout.title %></h5>
        <p class="card-text"><%= workout.desc %></p>
    </div>
</div>