<div class="card bg-light text-dark">
    <div class="card-body">
        <h5 class="card-title" value="<%= workout.title %>"></h5>
        <p class="card-text" value="<%= workout.desc %>"></p>
    </div>
</div>